.glyphicon-refresh{
    cursor: pointer;
    color: #337ab7;
}
.glyphicon-refresh:hover{
    color: #23527c;
}
#addImages{
    margin-bottom: 10px;
}
.add_image input{
    margin: 10px 0;
}
.image_detail input{
    width: 70%;
    display: inline-block;
}
