.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
    font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

 .block {
  width: 290px;
  height: 320px;
  }
.carousel-inner .active.left { left: -100%; }
.carousel-inner .active.right { left: 100%; }
.carousel-inner .next        { left:  100%; }
.carousel-inner .prev        { left: -100%; }
.carousel-col                { width: 100%; }
.active > div:first-child + div { display:block; }

@media (min-width: 480px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev        { left: -50%; }
  .carousel-col                { width: 50%; }
  .active > div:first-child + div { display:block; }
  .block {
  width: 180px;
  height: 200px;
  }
}

/*sm*/
@media (min-width: 768px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
  .carousel-inner .next        { left:  33%; }
  .carousel-inner .prev        { left: -33%; }
  .carousel-col                { width: 33%; }
  .active > div:first-child + div { display:block; }
  .block {
  width: 306px;
  height: 230px;
  }
}

/*lg*/
@media (min-width: 1024px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .prev        { left: -25%; }
  .carousel-col                { width: 25%; }
  .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
  .active > div:first-child + div + div + div { display:block; }
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}
.gray {background: gray;}