/*===Mobile first===*/
/*========================================*/
body{
    width: 100%;
}
/*===Header===*/
#header .logo{
    float: left;
}
#header .logo a{
    display: block;
    text-decoration: none;
}
#header .logo h1{
    line-height: 70px;
    margin: 0 0 0 60px;
    color: #087b40;
    font-size: 1em;
}
#header .logo{
    background-image: url("/images/logo.jpg");
    background-repeat: no-repeat;
    background-size: 58px;
}
/*content-header*/
.content-header{
    float: right;
    margin-bottom: 5px;
    padding-left: 0;
}
.content-header li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
.content-header li a{
    color: #363636;
}
.content-header li i{
    color: #388E3C;
}
.content-header .login,.content-header .register ,.content-header .cart{
    display: none;
}
.content-header li:last-child{
    border-right: 1px #F1F1F1 solid;
}
.content-header .search .align-items input{
    display: inline-block;
    width: 100px;
    border: 0;
    outline: none;
}
.content-header .search .align-items input:focus{
    border: transparent;
}
.content-header .search .align-items button{
    background-color: transparent;
    /*line-height: 50px;*/
    outline: none;
}
.content-header .search .align-items button:active{
    box-shadow:none !important;
}
.content-header .cart{
    background-image: url("/images/bg-cart.png");
    background-color: #388E3C;
}
.content-header .cart i{
    color: #252525;
}
.content-header .cart a{
    text-decoration: none;
}
.content-header .cart:hover{
    background-color: #4CAF50;
}
.content-header .login:hover i, .content-header .login:hover a,.content-header .register:hover i, .content-header .register:hover a{
    color: white;
}
.content-header .login:hover,.content-header .register:hover{
    background-color: #388E3C;
    background-image: url("/images/bg-cart.png");
}
/*Fix Header*/
@media screen and (min-width: 379px){
    .content-header li a{
        line-height: 70px;
    }
    .content-header .search .align-items input{
        height: 70px;
    }
    .content-header .search .align-items button{
        line-height: 50px;
    }
    .content-header{
        margin-bottom: 0;
    }
    #header .logo h1{
        font-size: 2em;
    }
}
/*===Navigation Bar===*/
.navbar{
    border: none;
    background-color: #1B1B1B;
    background-image: url("/images/bg-menu.png");
    min-height: 40px;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-toggle{
    border: none;
    float: left;
    margin: 4px 10px; 
    position: absolute;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #388E3C;
}
.navbar-default .navbar-nav>li>a{
    color: #cccccc;
    padding: 10px 20px;
}
.dropdown-menu>li>a{
    color: #cccccc;
}
/*custom navbar*/
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
        background-color: #388E3C;
        background-image: url("/images/bg-cart.png");
        color: #FFFFFF;
    }
    .navbar-nav>li:hover>a,.navbar-nav>li:visited>a{
        color: #FFFFFF!important;
    }
    .navbar-nav .open .dropdown-menu>li>a{
        padding-left: 40px;
    }
    .dropdown-menu{
        border: 0;
        border-radius: 0; 
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #cccccc;
    }
    .dropdown-menu>li:hover>a{
        background-color: transparent;
        color: #388E3C;
    }
    /*show border-bottom last buy-more-product*/
    .buy-more-product .product-1:last-child .product-box{
        border-bottom: 1px solid #ebebeb;
    }
.button-right{
    margin-right:15px;
    overflow: auto;
}
.button-right .cart{
    /* border-left: 1px solid #464646;*/
    padding-left:10px;
}
.button-right div{
    float: right;
    color: #388E3C;
}
.button-right div a{
    color: #388E3C;
    line-height: 40px;
    margin-right: 10px;
}
.button-right .search{
    line-height: 34px;
    position: relative;
    width: 35px;
    height: 40px;
}
.button-right .search button{
    background: none;
    border: none;
    padding: 3px 5px;
}
.button-right .search button,.button-right .search input{
    position: absolute;
    right: 0;
    outline: none;
}
.button-right .search .btn-2{
    z-index: 2;
}
.button-right .search input,.button-right .search .btn-1, .button-right .search .btn-2{
    display: none;
}
.button-right .search:hover input,.button-right .search:hover .btn-2{
    display: block;
}
.button-right .search input{
    padding-right: 25px;
}
.button-right .search .btn-1 i,.button-right .search .btn-2 i{
    padding-right: 5px;
}
/*===Banner Slider===*/
#myCarousel .carousel-inner > .item {
    width: 100%;
}
/*===Product Details===*/
.product-details{
    text-align: left;
}
.product-details img{
    width: 100%;
    margin: 15px 0; 
}
.product-details h1{
    margin: 15px 0 20px 0;
    color: #464646;
}
.product-details .info ul{
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #d7d7d7;
    height: 20px;
    margin-bottom: 30px;
}
.product-details .info ul li{
    float: left;
    padding: 0 10px;
}
.product-details .info ul li:first-child{
    padding-left: 0;
    border-right: 1px solid #d7d7d7;
}
.product-details .product-price{
    color: #4CAF50;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    display: inline-block;
    display: inline-block;
    margin: 0 5px;
}
.product-details .product-price-old{
    color: #acacac;
    font-size: 16px;
    text-decoration: line-through;
    display: inline-block;
    display: inline-block;
    margin: 0 5px;
}
.product-details .price{
    margin-bottom: 30px;
}
.product-details input{
    text-align: center;
    width: 100%;
    height: 45px;
    border: 1px #e1e1e1 solid;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
.product-details button{
    width: 100%;
    background: #4CAF50;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 0;
    height: 45px;
    margin-bottom: 15px;
    vertical-align: top;
}
.product-details button:hover{
    color: #4CAF50;
    background-color: #FFF;
    border: 1px solid #4CAF50;
}
.product-details label span{
    display: none;
}
.product-details label a{
    color: #4CAF50;
}
.product-details form{
    margin-bottom: 30px;
}
.detail-product{
    text-align: center;
}
.detail-product p{
    text-align: left;
}

/*===Main content===*/
.main-content{
    text-align: center;
}
/*heading*/
.heading h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    background-image: url("/images/border-heading.png");
    background-position: bottom;
    background-repeat: repeat-x;
}
.heading a{
    color: black;
    text-decoration: none;
}
.heading a:hover{
    color: #388E3C;
}
/*product*/
.product, .product-2{
    margin-top: 10px;
}
.product-2
.product-box{
    position: relative;
}
.product-box img{
    width: 100%;
}
.product img{
    height: 95px;
}
.product-1 img{
    height: 99px;
}
.product-box h3{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-box h3 a{
    color: black;
    text-decoration: none;
}
.product-box h3 a:hover{
    color: #388E3C;
}
.product-box .sale-flash{
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #388E3C;
    color: white;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.product-box .product-price{
    color: #388E3C;
    font-weight: bold;
    display: inline-block;
    display: inline-block;
    margin: 0 5px;
}
.product-box .product-price-old{
    color: #acacac;
    text-decoration: line-through;
    display: inline-block;
    display: inline-block;
    margin: 0 5px;
}
.product-box .btn{
    border-radius: 0;
    margin: 10px 0;
    border: 1px solid #e1e1e1; 
}
.product-box .btn:hover{
    color: white;
    background-color: #388E3C;
}
/*product-1*/
.product-1{
    margin: 10px 0;
}
.product-1 .product-box h3{
    margin-top: 0!important;
}
.product-1 .product-box{
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
.product-1 .product-box .btn{
    margin-bottom: 0;
}
.product-1 .product-box p{
    margin-bottom: 0;
}
/*hide border-bottom last*/
.buy-more-product .product-1:last-child .product-box{
    border-bottom: none;
}
/*===Extra-content===*/
/*hide extra-content*/
.extra-content{
    display: none;
}
/*===Footer===*/
#footer{
    background-color: #1b1b1b;
    margin-top: 10px;
    background-image: url("/images/bg-cart.png");
}
#footer .logo h2{
    margin-bottom: 20px; 
}
#footer .logo h2 a{
    color: white;
    text-decoration: none;
}
#footer ul li{
    color: #acacac;
    list-style: none;
    padding-bottom: 15px;
}
#footer ul li i{
    color: #388E3C;
}
#footer .bottom-footer div{
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #2a2a2a;
}
#footer ul li a{
    color: #acacac;
}
/*===Contact===*/
.contact{
    text-align: left;
}

.contact h2{
    font-size: 20px;
}
.contact p{
    color: #898989;
}
.contact fieldset{
    border: none;
    padding: 0;
    margin: 0 0 15px 0;
}
.contact input{
    border-radius: 0;
    border-color: #e1e1e1;
    padding: 20px 12px;
}
.contact textarea{
    border-radius: 0;
}
.contact label{
    font-weight: 100;
}
.contact button{
    border-radius: 0;
}
/*===ShopingCart===*/
.title-page-cart{
    font-size: 20px;
    text-align: left;
}
.table-responsive{
    margin-top: 15px;
    text-align: center;
}
.table-responsive h2{
    margin: auto;
    font-size: 14px;
}
.table-cart .img-product-cart img{
    max-width:50px;
    margin:20px 0px;
}
.name-product-cart{
    color:#333333;
    font-weight:normal; 
}

.name-product-cart:hover{
    color:#388E3C;
    text-decoration:none;
}
.table-cart{
    border:1px #ebebeb solid;
    color:#252525;
    margin-bottom:30px;
}
.table-cart thead th{
    border-bottom:0px !important;
    color:#333333;
    font-weight:normal;
    text-align: center;
}
.table-cart th, .table-cart td{
    vertical-align:middle !important;
}
.table-cart a.remove-item{
    color:#252525;
    font-size:20px;
}
.table-cart .glyphicon-trash{
    font-size: 20px;
    color: #388E3C;
    cursor: pointer;
}
.inp-number{
    border-radius:0px;
    background-color:#FFF;
    border:1px #ebebeb solid;
    max-width:50px;
    padding-left:10px;
    text-align:center;
}
.text-xs-left{
    text-align: left;
}
.text-xs-right{
    text-align: right;
}
/*btn*/
.btn-cart button{
    border-radius: 0;
    height: 45px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    text-transform: uppercase;
}
.btn-cart .update-cart, .btn-cart button:last-child{
    background-color: #388E3C;
    color: #FFF;
    border: 1px solid #e1e1e1;
}
.btn-cart .update-cart:hover, .btn-cart button:last-child:hover{
    background-color: white;
    color: #252525;
}
.btn-cart .btn-plus{
    background-color: #FFF;
}
.btn-cart .btn-plus:hover{
    background-color: #388E3C;
    color: #FFF;
}
.btn-cart .product-price{
    color: #388E3C;
    font-weight: bold;
}
.btn-cart table{
    margin-bottom: 45px;
}
.btn-cart table td{
    padding: 12px 8px !important;
}
.textalign-left{
    text-align: left;
}
/*trang dat hang*/
.dathang label{
    font-weight: 100 !important;
}
.dathang .img-product-cart img{
    max-height: 50px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.dathang .btn-cart table{
    margin-bottom: 15px !important;
}
.dathang .note{
    margin-bottom: 15px;
}
img[alt="Fanpage"]{
    background-color: #1b1b1b;
    border-radius: 5px;
    height: 50px;
}
.actived>a{
    background-color: #388E3C;
    background-image: url("/images/bg-cart.png");
    color: #FFFFFF !important;
}
.title-error {
    font-size: 28px;
    color: #388E3C;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}
@media screen and (min-width: 540px){
    /*===Product Details===*/
    .product-details input{
        width: 70px;
        margin: 0;
    }
    .product-details button{
        width: 210px;
        margin: 0;
    }
    .product-details .label-form-pro{
        width: 100%;
        margin-top: 30px;
    }
    /*cart btn*/
    .btn-cart{
        text-align: left;
    }
    .btn-cart button{
        width: 230px;
        margin-bottom: 30px;
    }
    .btn-cart table{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px){
    /*show content-header cart and search*/
    .content-header .cart{
        display: inline-block;
    }
    /*custom content-header*/
    .content-header li{
        border-left: 1px #F1F1F1 solid;
        padding: 0 15px;
    }
    /*custom navbar*/
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
        background-color: #388E3C;
        background-image: url("/images/bg-cart.png");
    }
    .navbar-nav>li:hover,.navbar-nav>li:hover:visited{
        background-color: #388E3C;
        background-image: url("/images/bg-cart.png");
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        padding-left: 20px;
    }
    .dropdown-menu>li{
        padding: 8px 0;
        width: 200px;
    }
    .dropdown-menu>li>a{
        color: #333;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    /*hide navbar-header button-right*/
    .navbar-header .button-right{
        display: none;
    }
    /*img shoppingcart*/
    .table-cart .img-product-cart img{
        max-width: 100px;
    }
    /*btn cart*/
    .btn-cart table{
        display: inline-block;
        border: 0; 
    }
    .btn-cart table td{
        width: 170px;
    }
    .actived>a{
        color: #FFFFFF!important;
    }
}
@media screen and (min-width: 992px){
    /*show content-header phone*/
    .content-header .phone{
        display: inline-block;
    }
    /*banner-slide*/
    #myCarousel .carousel-inner > .item{
        background-position: center;
    }
    /*Show Extra-content*/
    .extra-content{
        display: block;
    }
    /*===extra-content===*/
    .extra-content .heading .title{
        font-weight: normal;
        background-image: none;
        padding-bottom: 10px;
    }
    .extra-content ul{
        list-style: none;
        border-left: 1px solid #e1e1e1;
        padding: 0; 
    }
    .extra-content ul li a{
        color: #000000;
        text-decoration: none;
        margin: 8px 0;
        padding-left: 25px;
        display: inline-block;
        position: relative;
    }
    .extra-content ul li a:hover{
        color: #388E3C;
    }
    .extra-content ul li a:before{
        content: "";
        width: 17px;
        border-bottom: 1px solid #e1e1e1;
        position: absolute;
        left: 0;
        top: 10px;
    }
    .extra-content .product-1 .product-box{
        border-bottom: none;
    }
    /*btn link*/
    .btn-link{
        padding-bottom: 20px;
    }
    .btn-link a{
        color: #898989;
        text-decoration: underline;
    }
    .btn-link a:hover{
        color: #388E3C;
    }
    /*product details*/
    .detail-product{
        margin-top: 30px;
    }
}
/*set heigh product-box*/
@media screen and (min-width: 320px){
    .product img{
        height: 140px;
    }
}
@media screen and (min-width: 375px){
    .product img{
        height: 170px;
    }
}
@media screen and (min-width: 425px){
    .product img{
        height: 197px;
    }
}
@media screen and (min-width: 480px){
    .product img{
        height: 227px;
    }
}
@media screen and (min-width: 600px){
    .product img{
        height: 291px;
    }
}
@media screen and (min-width: 768px){
    .product img{
        height: 237px;
    }
}
@media screen and (min-width: 992px){
    .product img{
        height: 230px;
    }
    .product-1 img{
        height: 99px;
    }
}
@media screen and (min-width: 1200px){
    .product img{
        height: 284px;
    }
    .product-1 img{
        height: 126px;
    }
}

.product-thumbnail a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product-thumbnail img{
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.product-thumbnail:hover img{
    -webkit-transform: scale(1.4) rotate(2deg);
    -moz-transform: scale(1.4) rotate(2deg);
    -o-transform: scale(1.4) rotate(2deg);
    -ms-transform: scale(1.4) rotate(2deg);
    transform: scale(1.4) rotate(2deg);
}
.zoomContainer:before{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: scale(0, 1);
    cursor: crosshair;
}
.zoomContainer:after{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: scale(1, 0);
    cursor: crosshair;
}
.zoomContainer:hover:before, .zoomContainer:hover:after{
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    cursor: crosshair;
}
.tutorial-page img, .detail-product img{
    width: 70% !important;
    height: auto !important;
    margin-left: 15%;
    position: relative;
    border: 8px solid rgba(0, 0, 0, .15) !important;
}
.carousel-indicators li{
    border: 1px solid #388E3C;
}
.carousel-indicators .active{
    background-color: #388E3C;
}
